main {
  max-width: 100%;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .intro {
    grid-template-columns: 820px 1fr;
  }
}

.photo {
  max-width: 100%;
}

.details__header {
  margin-top: 0;
}